body {
    margin: 0;
    padding: 0;
    border: 0;
	box-sizing: border-box; 
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

img{
    width: 80px;
}

a .textos {
    color: #fff;
    text-decoration: none;
}

.navigation {
    padding: 15px;
    height: 110px;
    background: #31526d;
    position: sticky;
    z-index: 100;
}

.menu-container {
    max-width: 1000px;
    margin: 0 auto;
}

nav {
    float: right;
    position: relative;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: default;
}

nav ul li {
    float: left;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.logo {
    float: left;
    margin-left: 0px;
    position: relative;
}

nav ul li a {
    display: inline-block;
    padding: 0 10px;
    line-height: 10px;
    background: #31526d;
    color: #ffffff !important;
    text-decoration: none !important;
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

