body {
    margin: 0;
    padding: 0;
    border: 0;
	box-sizing: border-box; 
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

img{
    width: 80px;
}

a .textos {
    color: #fff;
    text-decoration: none;
}

.navigation {
    padding: 15px;
    height: 110px;
    background: #31526d;
    position: sticky;
    z-index: 100;
}

.menu-container {
    max-width: 1000px;
    margin: 0 auto;
}

nav {
    float: right;
    position: relative;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: default;
}

nav ul li {
    float: left;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.logo {
    float: left;
    margin-left: 0px;
    position: relative;
}

nav ul li a {
    display: inline-block;
    padding: 0 10px;
    line-height: 10px;
    background: #31526d;
    color: #ffffff !important;
    text-decoration: none !important;
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

@media screen and (min-width: 823px) {
    .menu-list {
        display: block !important;
    }
}

#menu-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}
#menu-toggle span,
#menu-toggle span:before,
#menu-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}
#menu-toggle span:before {
    top: -10px;
}
#menu-toggle span:after {
    bottom: -10px;
}
#menu-toggle.active span {
    background-color: transparent;
}
#menu-toggle.active span:before, #menu-toggle.active span:after {
    top: 0;
}
#menu-toggle.active span:before {
    transform: rotate(45deg);
}
#menu-toggle.active span:after {
    transform: rotate(-45deg);
}


/* Mobile navigation */
.menu-mobile {
    position: absolute;
    display: none;
    z-index: 100;
    top: -100px;
    right: 0;
    background: #262626;
    height: 70px;
    width: 70px;
}

@media only screen and (max-width: 822px) {
    .menu-mobile {
        display: block;
    }

    nav {
        width: 100%;
        padding-top: 20px;
    }
    
    nav ul {
        display: none;
        float: left;
        margin-left: -20px;
    }

    nav ul li {
        float: none;
        margin-left: 0px;
    }
    nav ul li a {
        padding: 15px;
        width: 200px;
        line-height: 20px;
    }
    /* nav ul li ul li a {
        padding-left: 30px;
    } */
}