*{
    margin: 0;
    padding: 0;
	box-sizing: border-box; 
}

body{
    font-family: 'Spartan', sans-serif;
    width: 100%;
    height: 100%;  
    background-image: url(../img/Background.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cabecera {
    /**background: gray;**/
    width: 100%;
    height: 110px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 90px;
    height: 90px;
    margin: 10px;
}

.textos-head {
    /**background: rgb(101, 162, 190);**/
    width: 100%;
    height: 75px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.textos-head .uno{
    font-size: 22px;
}

.textos-head .dos{
    font-size: 14.75px;
}

.negrita {
    font-weight: bold;
}
.navegacion {
    /**background: lightslategray;**/
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.navegador{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.caja {
    background: #000101da;
    width: 65px;
    height: 65px;
    margin: 5px;
    border: 2px solid #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja img {
    height: 50px;
}
.caja:hover  {
    background: #0daf2bef;
    border: 2px solid #0daf2b;
}
.flex{
	width: 100%;
	height:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.modal{
	display: none;
	position: fixed;
	z-index:1;
	overflow: auto;
	left: 0;
	top:0;
	width: 100%;
	height:100%;
	background: rgba(0, 0, 0, 0.452);
}

.contenido-modal{
	position: relative;
	background-color: #fefefe;
	margin: auto;
	width: 30%;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
	animation-name: modal;
	animation-duration: 1s;
}
@keyframes modal{
	from{top:-330px; opacity:0;}
	to{top:0; opacity:1;}
}
.close{
	color: #f2f2f2;
	font-size:30px;
	font-weight: bold;
}
.close:hover{
	color:#7f8c8d;
	text-decoration: none;
	cursor: pointer;
}

.modal-header, .footer{
	padding: 8px 16px;
	background: #34495e;
	color:#f2f2f2;
}

p{
	text-align: justify;
}

.modal-body{
	padding: 20px 16px;
}

@media screen and (max-width:900px){
	.contenido-modal{
		width: 70%;
	}
	.textos{
		padding: 150px;
	}
}

@media screen and (max-width:500px){
	.textos{
		padding:50px;
	}
}